Code Snippet ss4/OnlyElement.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.abc.com"
           xmlns="https://www.abc.com"
           elementFormDefault="qualified">
    <xs:element name="Books">
        <xs:complexType>
           <xs:sequence>
                   <xs:element name="ISBN" type="xs:string"/>
                   <xs:element name="Price" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>